<div id="footer" class="container">
	<header>
		<h2>Questions or comments? <strong>Get in touch:</strong></h2>
	</header>
	<div class="row">
		<div class="6u">
			<section>
				<form method="post" action="#">
					<div class="row half">
						<div class="6u">
							<input name="name" placeholder="Name" type="text" class="text" />
						</div>
						<div class="6u">
							<input name="email" placeholder="Email" type="text" class="text" />
						</div>
					</div>
					<div class="row half">
						<div class="12u">
							<textarea name="message" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="row half">
						<div class="12u">
							<a href="#" class="button button-icon fa fa-envelope">Send Message</a>
						</div>
					</div>
				</form>
			</section>
		</div>
		<div class="6u">
			<section>
				<div class="row">
					<ul class="icons 6u">
						<li class="fa fa-envelope">
							<a href="#">TimJacobs2@gmail.com</a>
						</li>
						<li class="fa fa-twitter">
							<a href="http://twitter.com/TimmayJay">@TimmayJay</a>
						</li>
						<li class="fa fa-facebook">
							<a href="#">facebook.com/untitled-tld</a>
						</li>
						<li class="fa fa-google-plus">
							<a href="#">google.com/+untitled-tld</a>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>
