<div id="footer-wrapper">
    <div id="footer" class="container">
    	<header>
    		<h2>Questions or comments? <strong>Get in touch:</strong></h2>
    	</header>
        <nav id="nav">
    	    <ul>
    	    	<li class="icon icon-envelope">
    	    		<a href="mailto:TimJacobs2@gmail.com">E-Mail</a>
    	    	</li>
    	    	<li class="icon icon-github">
    	    		<a href="https://github.com/tjacobs2">GitHub Projects</a>
    	    	</li>
    	    	<li class="icon icon-linkedin">
    	    		<a href="http://www.linkedin.com/in/tjacobs2">LinkedIn Profile</a>
    	    	</li>
    	    </ul>
        </nav>
    </div>
</div>
